@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

  body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    @apply font-monkey;
  }

  header {
    box-sizing: border-box;
  }

  h1 {
    @apply font-philosopher
  }

  h2 {
    @apply font-philosopher
  }
  
}